body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    margin-left: 40%;
    background-color: #f0f0f0;
}

h1 {
    margin-bottom: 20px;
}

div {
    margin-bottom: 20px;
    display: flex;
}

input {
    padding: 5px;
    font-size: 16px;
    border-radius: 5%;
    border-color: aqua;
}

button {
    padding: 5px 10px;
    font-size: 16px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 5px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.completed {
    text-decoration: line-through;
    color: gray;
}

button.complete-btn {
    margin-right: 10px;
}

